@keyframes stars {
    0% { background-position: 0 0; }
    100% { background-position: 1000px 1000px; }
}
.subContainer
{
    position: relative;
    isolation: isolate;
}

.subContainer::after {
    background: url('https://www.transparenttextures.com/patterns/stardust.png');
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: stars 100s linear infinite;
    content: "";
    z-index: -1;
}

.btns_style
{
    background: #00FFA3;
    color: #0A0A0A;
    transition: all 0.3s ease-in-out;
    /* box-shadow:5px 5px 10px #3A2A00, -5px -5px 10px #00FFA3; */
    border-radius: 8px;
    border: none;
}

.btns_style:hover
{
    box-shadow:0 0 20px rgba(0, 255, 162, 0.507);
    /* background: linear-gradient(135deg, #0056b3 0%, #00CCCC 100%); */
    transform: translateY(-2px);
    transform: scale(1.05);
}

.tab_design_3d
{
    background: #121212;
    border: 4px solid transparent;
    border-bottom: 3px solid #00FFA3;
    transition: transform 0.2s ease-in-out, border 0.2s ease-in-out;
}

.tab_design_3d:hover
{
    transform: translateY(-2px);
    border: 1px solid #00FFA3;
    border-bottom: 3px solid #00FFA3;
}

.miniTabs_3d
{
    background:rgba(255, 255, 255, 0.1);
    border: 2px solid #3A3A3A;
    position: relative;
    transform-style:preserve-3d;
    transition: transform .2s ease-in-out , border .5s ease-in;
}

.miniTabs_3d::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 8%;
    width: 84%;
    height: 3px;
    background: #00FFA3;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out;
}

.miniTabs_3d:hover {
    transform: translateY(-10px) translateZ(20px);
    border-color: #00FFA3; /* Light up effect on hover */
    /* box-shadow:0 0 3px #00AEEF , 30px 25px 2px rgba(0, 0, 0, .1); */
}

.miniTabs_3d:hover::before {
    transform: translateY(10px);
    background-color: #00FFA3;
    /* box-shadow: 30px 25px 2px rgba(0, 0, 0, .1); */
}

.partition_right , .partition_left
{
    isolation: isolate;
    overflow: hidden;
}

.partition_right::after
{
    z-index: -1;
    content: "";
    position: absolute;
    transform-origin: top left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background:#0a0a0a;
    top: 10px;
    left: 10px;
    border: 2px solid transparent;
    transition: all ease-in .5s;
}

.partition_right::before
{
    z-index: -1;
    content: "";
    position: absolute;
    transform-origin: top left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #0a0a0a;
    bottom: 10px;
    right: 10px;
    border: 2px solid transparent;
    transition: all ease-in .5s;
}

.partition_left::before
{
    z-index: -1;
    content: "";
    position: absolute;
    transform-origin: top left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background:#0a0a0a;
    top: 10px;
    right: 10px;
    border: 2px solid transparent;
    transition: all ease-in .5s;
}

.partition_left::after
{
    z-index: -1;
    content: "";
    position: absolute;
    transform-origin: top left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #0a0a0a;
    bottom: 10px;
    left: 10px;
    border: 2px solid transparent;
    transition: all ease-in .5s;
}

.miniTabs_3d:hover .partition_right::after , .miniTabs_3d:hover .partition_right::before
{
    border:2px solid #0a0a0a ;
    /* box-shadow:0 0 3px #00AEEF; */
    background:#00FFA3;
}

.miniTabs_3d:hover .partition_left::after , .miniTabs_3d:hover .partition_left::before
{
    border:2px solid #0a0a0a ;
    /* box-shadow:0 0 3px #00AEEF; */
    background:#00FFA3;
}

.glassMorph_btn
{
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #00FFA3;
    border-bottom: 4px solid #00FFA3;
    /* backdrop-filter: blur(10px); */
    border-radius: 12px;
    /* color: rgba(0, 175, 239, 0.535); */
}

.glassMorph_btn:hover
{
    transform: translateY(2px);
    border-bottom: 2px solid #00FFA3;
}

.headerMainGrad
{
    background: linear-gradient(90deg, #00FFA3, #03E1FF, #DC1FFF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 1.5px;
}

.three_d_orb_style_animation
{
    animation: orb;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes orb {
    0% { text-shadow: 0 0 10px rgba(255, 215, 0, 0.4); }
    50% { text-shadow: 0 0 10px rgba(255, 215, 0, 0.8); }
    100% { text-shadow: 0 0 10px rgba(255, 215, 0, 0.4); }
}

.three_d_card_style
{
    background: transparent; /* No fill */
    border: 2px solid transparent;
    border-radius: 15px;
    position: relative;
    transition: all linear .3s;
}
.three_d_card_style:hover {
    transform: translateY(-5px) scale(1.02);
    border-color: #00FFA3;
}

.text_border_decoration
{
    width: fit-content;
    border-bottom: 2px solid;
    border-color: #00FFA3;
}

.floatBot_animate , .floatBot_animate__
{
    transition: all linear .3s;
    animation: floatBot_animate;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: .3s linear;
}
.floatBot_animate__
{
    animation-name: floatBot_animate__;
}

@keyframes floatBot_animate
{
    0%
    {
        transform: translateY(0) translateX(-50%);
    }
    50%
    {
        transform: translateY(-30px) translateX(-50%);
    }
    100%
    {
        transform: translateY(0) translateX(-50%);
    }
}


@keyframes floatBot_animate__
{
    0%
    {
        transform: translateY(0) translateX(-50%) rotateZ(180deg);
    }
    50%
    {
        transform: translateY(-30px) translateX(-50%) rotateZ(180deg);
    }
    100%
    {
        transform: translateY(0) translateX(-50%) rotateZ(180deg);
    }
}


.collapse_tabs_media
{
    flex-direction: row;
}

@media screen and (max-width:900px){
    .collapse_tabs_media
    {
        flex-direction: column;
    }
}